.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-top: 5vh;
}

.header {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: var(--blue);
    font-size: 4vh;
    font-weight: 500;
    margin-bottom: 20px;
}

.headerEmail {
    color: var(--primary-black);
}

.linkToHomePage {
    margin: 0 auto;
    color: var(--orange);
    font-size: 20px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.logoutButton {
    background-color: var(--blue);
    color: var(--primary-white);
    font-size: 20px;
    font-weight: 500;
}

.loginFieldsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.loginField {
    width: 50%;
    margin: 0 auto;
    border: none;
}

.loginButtons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.loginButton {
    color: var(--primary-white);
    background-color: var(--cyan);
    font-size: 20px;
    border: none;
}
