.header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 0;
    border-top: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
    margin-top: 20px;
}

.list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
